<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.manage.dao.sys.DictTypeMapper">
  <resultMap id="BaseResultMap" type="com.cc.manage.domain.sys.DictType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_name, `type`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dict_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectTotal" resultType="java.lang.Integer">
        select count(1) from dict_type
  </select>
  <select id="selectList" resultType="com.cc.manage.domain.sys.DictType">
        select * from dict_type order by id desc
        <if test="pageHiden == false">
          limit #{startIndex}, #{pageSize}
        </if>
  </select>
  <select id="check" resultType="com.cc.manage.domain.sys.DictType">
        select * from dict_type
        <where>
          (type_name = #{typeName} or type = #{type})
          <if test="id != null">
            and id != #{id}
          </if>
        </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dict_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cc.manage.domain.sys.DictType" useGeneratedKeys="true">
    insert into dict_type (type_name, `type`)
    values (#{typeName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cc.manage.domain.sys.DictType" useGeneratedKeys="true">
    insert into dict_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeName != null">
        type_name,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cc.manage.domain.sys.DictType">
    update dict_type
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cc.manage.domain.sys.DictType">
    update dict_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>