<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.manage.dao.sys.RoleMapper">
  <resultMap id="BaseResultMap" type="com.cc.manage.domain.sys.Role">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ct" jdbcType="TIMESTAMP" property="ct" />
    <result column="mt" jdbcType="TIMESTAMP" property="mt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `status`, remark, ct, mt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByRoleId">
    delete from role_menu where role_id = #{roleId}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cc.manage.domain.sys.Role" useGeneratedKeys="true">
    insert into role (`name`, `status`, remark, 
      ct, mt)
    values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{ct,jdbcType=TIMESTAMP}, #{mt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cc.manage.domain.sys.Role" useGeneratedKeys="true">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="ct != null">
        ct,
      </if>
      <if test="mt != null">
        mt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ct != null">
        #{ct,jdbcType=TIMESTAMP},
      </if>
      <if test="mt != null">
        #{mt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cc.manage.domain.sys.Role">
    update role
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ct != null">
        ct = #{ct,jdbcType=TIMESTAMP},
      </if>
      <if test="mt != null">
        mt = #{mt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cc.manage.domain.sys.Role">
    update role
    set `name` = #{name,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      ct = #{ct,jdbcType=TIMESTAMP},
      mt = #{mt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="setMenu">
    insert into role_menu values
    <foreach collection="list" separator="," item="item">
      (#{item.roleId},#{item.menuId})
    </foreach>
  </insert>
  <select id="checkName" resultType="int" parameterType="com.cc.manage.domain.sys.Role">
    select count(1) from role
    where name = #{name}
    <if test="id != null">
        and id !=#{id}
    </if>
  </select>
  <sql id="whereSql">
    <where>
      <if test="name != null and name !=''">
        and name like concat('%',#{name},'%')
      </if>
    </where>
  </sql>
  <select id="selectTotal" resultType="java.lang.Integer">
    select count(1) from role
    <include refid="whereSql"/>
  </select>
  <select id="selectList" resultType="com.cc.manage.domain.sys.Role">
    SELECT
        a.*, GROUP_CONCAT(b.menu_id) as menuIds
    FROM
        role a
     LEFT JOIN role_menu b ON a.id = b.role_id
    <include refid="whereSql"/>
    GROUP BY a.id
    order by ct desc
    <if test="pageHiden == false">
      limit #{startIndex}, #{pageSize}
    </if>
  </select>
  <select id="selectForUser" resultType="com.cc.manage.domain.sys.Role">
    select * from role where status = 1 and id !=1
  </select>
  <select id="selectRoleIdByUser" resultType="java.lang.Long">
    select a.role_id from user_role a,role b where user_id = #{userId} and a.role_id = b.id
  </select>
</mapper>